*, *::before, *::after {
    font-family: 'Courier New', Courier, monospace;
    
}
html, body {
   margin: 0;
   padding: 0; 
}
:root {
    --primary-color: #15b283;
    --accent-color:#b3e5d6;
}
body {
    height: 100%;
    display: block;
}
header {
    height: 20%;
}

h1 {
    color: var(--primary-color);

}
.container {
    height: 100%;
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.header {
    padding: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    margin-bottom: 2rem;
    box-shadow: 0 5px 5px rgb(195, 190, 190);
}

.header-links {
    display: flex;
    justify-content: space-between;
    flex-grow: 0.3;
    align-items: center;
}
div.link {
    background-color: var(--primary-color);
    color: whitesmoke;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px solid whitesmoke;
    
}
.library {
    flex: 0.5;
    border: 1px solid black;
    padding: 0 2rem;
    border-radius: 8px;
}


.content {
    display: flex;
    justify-content: space-around;
    flex: 1;
}

.submit-container {
    flex: 0.4;
    display: flex;
    flex-direction: column;
    justify-content: left;
    
}

.submit-form {
    display: flex;
    justify-content: left;
    flex-direction: column;
    flex: 0.5;
    padding: 0 2rem 2rem 2rem;
}

.library-title {
    text-align: center;
}

.bookBubble {
    border: 1px solid black;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.optionsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    gap: 1vw;
}

.optionsContainer label:nth-child(2) {
    margin-left: auto;
}

.form-wrapper {
    align-items: center;
    display: flex;
    justify-content:space-between;
    margin: 1rem 1rem 1rem 0;
}

#text-area {
    margin: 1rem 1rem 1rem 0;
}
.text-area-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.add-book-div {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin: 2rem 5rem 0 5rem;
}

dialog {
    border: 1px solid grey;
    border-radius: 8px;
}

dialog::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green,
    yellow,
    orange,
    red
  );
  opacity: 0.75;
}

h2 {
    text-align: center;
}

.basket-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    border: 1px solid black;
    border-radius: 8px;
    flex: 1;
}

button {
    max-width: 10rem;
    padding: 0.2rem 1rem;
    border: 1px solid white;
    border-radius: 8px;
    background-color: var(--accent-color);
}

button:hover {
    background-color: var(--primary-color);
    color: whitesmoke;
    transition: 0.5s;
}

input {
    border: 1px solid grey;
    border-radius: 8px;
    padding: 0.2rem;
}

input:focus {
    outline: none;
    border: 1px solid var(--primary-color);
}
#comment {
    width: max(25vw, 150px);
    height: max(12vw, 80px);
    border: 1px solid grey;
    border-radius: 8px;
}

textarea:focus {
    outline: none;
    border: 1px solid var(--primary-color);

}
@media (min-width: 1000px){
    #bookname, #authorname {
        min-width: 15rem;

    }
}

@media (max-width: 1000px) {
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        background-color: aliceblue;
        margin-bottom: 2rem;
        box-shadow: 0 5px 5px rgb(195, 190, 190);
        
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 2rem;
        gap: 2rem;
    }
    .header-title {
        min-height: 2rem;
    }
    .header-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
        gap: 0.5rem;
    }
    .bookBubble {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .submit-container {
        flex: 0.4;
        display: flex;
        flex-direction: column-reverse;
    }
    .submit-form {
        display: flex;
        justify-content: left;
        flex-direction: column;
        flex: 0.5;
        padding: 0 0.5rem 2rem 0.5rem;
    }
    .form-wrapper {
    align-items: center;
    display: flex;
    justify-content:space-between;
    margin: 1rem 10vw 1rem 10vw;
    }
    #comment {
        min-width: 50vw;
    }
}